* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn, .header .action__sign-up {
  --height: 64px;
  display: inline-block;
  min-width: 157px;
  border-radius: 8px;
  background: #936cdd;
  height: var(--height);
  line-height: var(--height);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover, .header .action__sign-up:hover {
  opacity: 0.9;
}

.header {
  padding: 42px 0 8px;
}
.header-fixed {
  position: sticky;
  top: -34px;
  background: #fff8f3;
  z-index: 99999;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navbar__list {
  display: flex;
  align-items: center;
  column-gap: 48px;
}
.header .navbar__link {
  color: #665f73;
  line-height: 1.75;
  padding: 8px;
}
.header .navbar__link--active {
  display: flex;
  align-items: center;
  column-gap: 7px;
}
.header .action {
  display: flex;
  align-items: center;
  column-gap: 28px;
}
.header .action__login {
  color: #201830;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}
.header .action__sign-up {
  --height: 48px;
  min-width: 116px;
  font-size: 1.6rem;
  border-radius: 6px;
  background: #201830;
}

.hero {
  padding: 110px 0 140px;
  background: #fff8f3;
}
.hero__inner {
  display: flex;
  column-gap: 130px;
}
.hero-media {
  display: flex;
  align-items: center;
  column-gap: 30px;
  width: 48%;
  height: 460px;
}
.hero-media__one {
  position: relative;
}
.hero-media__img {
  width: 270px;
  height: 302px;
  border-radius: 8px;
  object-fit: cover;
}
.hero-media__one {
  margin-bottom: auto;
}
.hero-media__decor-audio {
  position: absolute;
  top: 272px;
  left: 38px;
}
.hero-media__text {
  color: #201830;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71;
  margin-top: 53px;
}
.hero-media__avatar {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.hero-media__avatar-img {
  width: 48px;
  height: 48px;
  margin-left: -18px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.hero-media__avatar-img:first-child {
  margin-left: 0;
}
.hero-media__avatar-img-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #201830;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.83;
}
.hero-media__two {
  height: 100%;
  width: 100%;
  position: relative;
}
.hero-media__wrap-02 {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.hero-media__img-02 {
  width: 100%;
}
.hero-media__quantity {
  width: 82px;
  height: 82px;
  background: #ff9051;
  text-align: center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 70px;
}
.hero-media__quantity-number {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1;
}
.hero-media__quantity-text {
  color: #ffefe7;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  margin-top: 4px;
}
.hero-media-decor-bar-01 {
  position: absolute;
  top: 44.54px;
  right: 166.21px;
}
.hero-media-decor-bar-02 {
  position: absolute;
  right: 63px;
  top: 102px;
}
.hero-media__social {
  display: flex;
  align-items: center;
  position: absolute;
  top: 102px;
  column-gap: 18px;
}
.hero-media__name {
  text-align: center;
  padding: 14px 50px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 12px 44px 0px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(5px);
  position: absolute;
  bottom: 16px;
  left: 38px;
}
.hero-media__name-author {
  color: #201830;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}
.hero-media__name-song {
  color: #665f73;
  font-size: 1.2rem;
  line-height: 1;
}
.hero-content {
  flex-grow: 1;
  position: relative;
}
.hero-content__heading {
  color: #201830;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.14;
  width: 470px;
  z-index: 1;
  position: relative;
}
.hero-content__decor {
  position: absolute;
  top: 135px;
  left: 33px;
}
.hero-content__desc {
  color: #665f73;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  margin-top: 20px;
  width: 470px;
}
.hero-content__action {
  margin-top: 40px;
  display: flex;
  align-items: center;
  column-gap: 28px;
}
.hero-content__action__listen {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: #201830;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/*# sourceMappingURL=main.css.map */
